* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overall-1 {
  background-color: #213b52;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  padding-top: 20px;
}

.logo .main {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 25px;
}

span {
  color: #FDC134;
}

.nav-links a{
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #8EC7D5;
  padding: 0 14px;
}

.link {
  transition: ease 0.7s;
}

.link:hover {
  color: white;
}

.b-only,  .seca {
  padding: 10px;
  width: 140px;
  background: transparent;
  border-radius: 20px;
  border-color: #FDC134;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  transition: 0.3s ease-in;
}

.seca:hover {
  background-color: #FDC134;
  color:#213b52;
}

.container-1 {
  display: flex;
  height: 60%;
  justify-content: space-between;
  align-items:  start;
  width: 100%;
  padding: 80px;
  color: white;
}

img {
  height: 350px;
  width: 550px;
}

.first-batch {
  width: 50%;
  padding-left: 20px;
}

.head-1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 45px;
}

.head-p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}

.second-batch {
  padding: 30px 30px 0 30px;
 }

.secb {
  padding: 10px;
  width: 140px;
  background-color: #FDC134;
  border-radius: 20px;
  border-color: #213b52;
  color: #213b52;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease-in;
 }

 .secb:hover {
  background-color: transparent;
  border-color: #FDC134;
  color: white; 
 }

.about {
  display: flex;
  justify-content: space-around;
  align-items: start;
  height: 100vh;
  gap: 30px;
  padding: 0px 120px;
}

.about-pic img {
  height: 550px;
  width: 500px;
}

.text-1 {
  padding: 20px 20px 0 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.about-head {
  font-family: "Raleway", sans-serif;
}

.about-doc {
  padding-top: 10px;
  line-height: 1.5em;
  
}

.q3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  color: #848484;
  font-size: 15px;
}

.about-pic {
  padding-top: 20px;
}

.s1, .s2, .s3, .s4 {
  padding: 12px;
  line-height: 1.7em;
}

.service {
  padding: 0 50px;
  padding-top: 20px;
  text-align: center;
  box-sizing: border-box;
}

.intro .serve-1 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: #213852;
  text-transform: uppercase;
  font-weight: 2px;
}

.line {
  width: 120px;
  height: 4.5px;
  margin: 10px auto;
  background: yellow;
  outline-color: none;
  
}

.serve-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #444444;
  line-height: 1.5em;
  padding-bottom: 20px;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cont-1, .cont-2, .cont-3, .cont-4, .cont-5, .cont-6 {
  margin-bottom: 80px;
}

.contents .sub-heading {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.sub-heading, .details, .contents .a-link {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding: 20px 40px;
  position: relative;
  top: -60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 15px 0px;
}

.sub-heading .sub {
  font-size: 17px;
  color: black;
}

.details, .contents a {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  text-align: left;
}

.contents a {
  margin: 0;
  text-decoration: none;
  color: #444444;
  font-size: 14px;
}
.a-link {
  display: block;
  text-align: left;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-head {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: #213852;

}

.price-pic {
  width: 1000px;
  height: 800px;
  padding-top: 20px;
}

.contact {
  padding-top: 90px;
}

.contact h1 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  text-align: center;
}

.contact .contact-content {
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.side-1 {
  width: 100%;
  background-color: red;
}

.side-2 {
  width: 90%;
  background-color: red;
}

.address h2 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #777777;
  padding-top: 50px;
  margin-bottom: 20px;

}

.address p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.contact .contact-det {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
}

ul li {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5em;
}

ul li a {
  text-decoration: none;
  color: #444444;
}

.mail h2, .tel h2 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  
}